@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#calling {
    height: 80%;
    width: 100%;
    position: relative;
    /* background-color: gray; */
}

#calling-1 {
    position: absolute;
    top: -125px;
    left: 0px;
    width: 100%;
    height: 600px;
    background: url(call.png);
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

#calling-text {
    /* background-color: red; */
    width: 700px;
    height: 400px;
    position: absolute;
    top: 110px;
    left: 170px;
    padding: 40px 10px 10px 40px;
}

#calling-text h1 {
    font-size: 40px;
    color: white;
}

#calling-text h3 {
    color: #ebebeb;
    font-size: 20px;
}

#calling-text i {
    color: #ffbf00;
    font-size: 25px;
    margin: 8px 15px 8px 8px;
    cursor: pointer;
}

#calling-text a {
    text-decoration: none;
    color: #ffbf00;
    font-size: 22px;
}

#btn-3 {
    /* position: absolute; */
    height: 90px;
    width: 250px;
    /* left: 100px; */
    border: none;
    border-radius: 75px;
    background-color: #ffbf00;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-align: center;
    font-family: "Montserrat";
    transition: all 1s linear;
}

#btn-3 a{
    color: black;
}

#btn-3:hover{
    background-color: white;
}

#anime-4 {
    position: absolute;
    width: 100%;
    height: 30px;
    top: 480px;
    left: 0px;
    background: url(anime-1.png);
    background-size: cover;
    animation: anime4 20s linear infinite;
}

@keyframes anime4 {
    0% {
        background-position: 0px;
    }

    50% {
        background-position: 1200px;
    }

    100% {
        background-position: 0px;
    }
}